.card{
  border: 1px solid rgb(53, 42, 42);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(48, 27, 27, 0.244);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  cursor: pointer;
}
#pic{
  width: 200px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(16, 13, 13, 0.452);
}
.card .card-text{
  font-family: Arial, sans-serif;
  color: rgba(16, 13, 13, 0.452);
}